<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">




</head>
<body>






<div th:fragment="navbar" >
	<div class="d-flex justify-content-center mt-3">
		<div class="rounded-3"
			style="background-color: #C04B3D; width: 1300px;">
			<h1 class="rounded-3 p-3 d-flex align-items-center pt-4"
				style="height: 70px;">
				<img alt="Main Banner" th:src="@{/pic/mainbanner.jpg}"
					class="rounded-3" />
				<ul class="nav" style="font-size: 17px; padding-left: 20px">
					<li class="nav-item"><a class="nav-link active "
						aria-current="page" href="#"></a></li>
					<li class="nav-item text-white"><a class="nav-link" href="#"
						style="font-family: Noto Sans KR, sans-serif; text-decoration: none;">익무힛갤</a></li>
					<li class="nav-item text-white"><a class="nav-link" href="#"
						style="font-family: Noto Sans KR, sans-serif;">영화수다</a></li>
					<li class="nav-item text-white"><a class="nav-link" href="#"
						style="font-family: Noto Sans KR, sans-serif;">영화정보</a></li>
					<li class="nav-item text-white"><a class="nav-link" href="#"
						style="font-family: Noto Sans KR, sans-serif;">명예의전당</a></li>
					<li class="nav-item text-white"><a class="nav-link" href="#"
						style="font-family: Noto Sans KR, sans-serif;">끄적끄적</a></li>
					<li class="nav-item text-white"><a class="nav-link" href="#"
						style="font-family: Noto Sans KR, sans-serif;">익무나눔</a></li>
				</ul>

			</h1>
		</div>
	</div>
</div>





	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</body>
</html>
